html, body{
    width:100%;
    height:100%;
    overflow:hidden;
    overscroll-behavior:none;
}

/* BODY */
body{
    margin:0;
    min-height:100vh;
    font-family:'Comic Sans MS', cursive;
    background:url("/img/QUIZ.jpg") no-repeat center center fixed;
    background-size:cover;
    display:flex;
    align-items:center;
    justify-content:center;
}

/* QUIZ BOX */
.quiz-box{
    width:90%;
    max-width:820px;
    min-width:280px;
    padding:clamp(20px,4vw,36px);
    border-radius:28px;
    background:rgba(121, 195, 255, 0.95);
    text-align:center;
}

/* RESULT BOX */
.result-box{
    width:90%;
    max-width:600px;
    min-width:260px;
    padding:30px;
    border-radius:24px;
    background:#014a7f;
    color:white;
    text-align:center;
    display:none;
}

/* RESULT TEXT */
.result-box h1{
    font-size:clamp(32px,5vw,48px);
    font-weight:900;
    margin-bottom:10px;
}

.result-box h2{
    font-size:clamp(22px,4vw,30px);
    margin-bottom:15px;
}

/* QUESTION */
#question{
    font-size:clamp(26px,5vw,42px);
}

/* CHOICES */
.choice{
    margin:12px 0;
    padding:clamp(14px,4vw,22px);
    border-radius:14px;
    font-size:clamp(18px,4vw,32px);
    cursor:pointer;
    transition:.2s;
}
.choice:hover{ transform:scale(1.04); }

/* COLORS */
.green{ background:#8ed6ff; }
.yellow{ background:#ebff92; }
.pink{ background:#a473ff; }

/* PROGRESS */
#progress{
    font-size:clamp(14px,3vw,22px);
}

/* SCORE */
.score{
    font-size:clamp(50px,8vw,80px);
    margin:20px 0;
}

/* BUTTON */
.result-box button{
    padding:12px 28px;
    font-size:clamp(16px,4vw,22px);
    background:#ff4b6e;
    border:none;
    color:white;
    border-radius:12px;
    cursor:pointer;
}
.result-box button:hover{ transform:scale(1.05); }

/* FEEDBACK COLORS FOR CORRECT AND WRONG ANSWERS */
.correct{
    background:#00e676 !important;
    animation:correctPop .5s;
}

.wrong{
    background:#ff1744 !important;
    animation:wrongShake .5s;
}

/* ANIMATIONS */
@keyframes correctPop{
    0%{transform:scale(1);}
    50%{transform:scale(1.2);}
    100%{transform:scale(1);}
}

@keyframes wrongShake{
    0%{transform:translateX(0);}
    25%{transform:translateX(-8px);}
    50%{transform:translateX(8px);}
    75%{transform:translateX(-8px);}
    100%{transform:translateX(0);}
}


/* Tablets */
@media (min-width: 481px) {
    .quiz-box,
    .result-box {
        padding: 24px;
    }
}

/* Laptops / PCs */
@media (min-width: 1024px) {
    .quiz-box,
    .result-box {
        padding: 32px;
    }
}
